*.py[cdo]
venv

_build
_static

index.rst

# Euslisp repos
jskeus

# jsk-ros-pkg repos
jsk_common
jsk_control
jsk_demos
jsk_planning
jsk_recognition
jsk_robot
jsk_roseus
jsk_smart_apps
jsk_travis
jsk_visualization

# start-jsk repos
hrpsys-base
rtmros_choreonoid
rtmros_common
rtmros_gazebo
rtmros_hironx
rtmros_tutorials
jsk_apc
